img {
  justify-content: center;
  width: 100%;
}

.image_flex {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  margin: 10px;
}

.box1,
.box2,
.box3 {
  display: block;
  background-color: #deeef0;
  border-radius: 20px;
  margin: 20px;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-family: "Rhodium Libre", serif;
  text-align: center;
}

h2 {
  font-family: "Rhodium Libre", serif;
  margin: 20px;
  margin-left: 30px;
  padding-top: 30px;
}
.tilbud {
  text-align: center;
  font-size: 1.7rem;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  margin-left: 30px;
  font-size: 1rem;
}

button {
  margin: 20px;
  margin-left: 30px;
  background-color: #deeef0;
  color: #60b2b8;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

@media (max-width: 800px) {
  img {
    width: 100%;
  }

  .image_flex {
    display: block;
    padding: 20px;
    margin: 10px;
  }

  main {
    max-width: 800px;
    margin-inline: auto;
  }

  .box1,
  .box2,
  .box3 {
    display: block;
    background-color: #deeef0;
    border-radius: 20px;
    margin: 20px;
  }

  .elements {
    display: grid;
    grid-template-columns: 1fr;
  }

  .kost {
    width: 100%;
  }

  h1 {
    font-family: "Rhodium Libre", serif;
    text-align: center;
  }

  h2 {
    font-family: "Rhodium Libre", serif;
    margin: 20px;
    margin-left: 30px;
    padding-top: 30px;
  }
  .tilbud {
    text-align: center;
    background-color: white;
  }

  p {
    margin: 20px;
    margin-left: 30px;
    font-family: "Open Sans", sans-serif;
  }
}

button {
  margin: 20px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: #bf6341;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
