html {
  --button-color: #bf6341;
  --secondary-color: #c8d9db;
  --header-color: #65bfbf;
  --footer-color: #c7d9db;
  --text-box-color: #deedf0;
}

.forside-div,
#MedicinForside {
  justify-content: center;
  display: grid;
}

.Forside-div-pic {
  display: grid;
  grid-area: 1/2/7/7;
  z-index: 1;
  grid-area: 1/1/7/8;
}

.shapeDiv {
  display: grid;
  grid-area: 4/1/6/4;
  z-index: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: #c7d9db;
}

.forsideBeskrivelse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  display: none;
}

.ret {
  width: 100%;
}

h1,
h2,
figcaption {
  font-family: "Rhodium Libre", serif;
  text-align: center;
}
h1 {
  background-color: #c7d9db;
}

h3 {
  font-family: "Rhodium Libre", serif;
  font-size: 10px;
}

h4 {
  font-family: "Rhodium Libre", serif;
  font-size: 10px;
  text-align: center;
}

h2 {
  background-color: #c7d9db;
  padding: 20px;
  font-size: 1rem;
  margin-bottom: 40px;
}

h5 {
  font-family: "Rhodium Libre", serif;
  font-size: 20px;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}
video {
  width: 100%;
  filter: blur(1px);
}

body {
  background-color: #fafafa;
  max-width: 100%;
}

main {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  background-color: #c8d9db;
  margin-top: 40px;
}

.footcon {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footcol {
  width: 33%;
}

.footcol p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.footcol .adresse {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.footcol h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 5px;
  color: white;
}

.kasse {
  background-color: white;
  width: 20%;
  height: 1.5%;
  margin: 20px 20px 20px 0;
  border-radius: 4px;
}

.footcol .socials a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 87px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}

.footcol .socials a:hover {
  scale: 1.05;
  translate: 0 -10%;
}

button {
  color: white;
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
}

@media (max-width: 700px) {
  .footcol {
    width: 100%;
  }
}

@media (min-width: 800px) {
  h1,
  h2 {
    font-family: "Rhodium Libre", serif;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h3,
  h4 {
    font-family: "Rhodium Libre", serif;
    font-size: 20px;
  }

  h2 {
    background-color: #c7d9db;
    padding: 20px;
    font-size: 2rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }

  body {
    background-color: #fafafa;
  }

  main {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #60b2b8;
    align-items: CENTER;
    margin: -16px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    overflow: hidden;
    font-family: "Rhodium Libre", serif;
    padding: 5px 5px;
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .logo {
    width: 7%;
    height: auto;
    display: block;
  }

  .logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  button {
    color: white;
    background-color: var(--button-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .forsideBeskrivelse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}
