body {
  max-width: 1000px;
  margin-inline: auto;
}
h1 {
  text-align: center;
  font-family: "Rhodium Libre", serif;
  color: #707070;
}

p {
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  color: #707070;
}
.video {
  background-color: #deeef0;
}
.kvadrat {
  display: none;
}

@media (max-width: 700px) {
  p {
    margin: 20px;
  }
  .video {
    display: none;
  }
  .kvadrat {
    display: block;
    margin: auto;
  }
}
