img {
  width: 100%;
}
h1 {
  font-family: "Rhodium Libre", serif;
}

p a {
  font-family: "Open Sans", sans-serif;
}

.mellem_rubrik {
  text-align: center;
  font-family: "Rhodium Libre", serif;
  font-size: 1.8rem;
}

#kasser {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin-inline: auto;
}

#box1 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/medicingennemgang.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box2 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/helbred.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box3 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/blodtryk.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box4 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/medicin.webp");
  background-size: cover;
  background-position: 75% 50%;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box5 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/alternativ.webp");
  background-size: cover;
  background-position: 30% 5%;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box6 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/akupunktur.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box7 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/cuping.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box8 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/img/samtaler.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}
#box9 {
  display: block;
  position: relative;
  aspect-ratio: 5/7;
  background-image: url("/customers/2/8/8/marviosu.dk/httpd.www/kea/05_indhold/02_Redesign-Vibe-branch/img/hjemmepleje.webp");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.tekst_box {
  background-color: #60b2b8df;
  aspect-ratio: 3/1;
  width: 96.8%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 5px 5px 5px;
}

.tekst_box {
  font-family: "Rhodium Libre", serif;
  color: white;
  font-size: 1.32rem;
  margin: auto;
}

.tekst_box {
  color: white;
  font-size: 1.1rem;
}

#box1:hover {
  scale: 1.06;
}

#box1:active {
  scale: 0.95;
}

#box2:hover {
  scale: 1.06;
}

#box2:active {
  scale: 0.95;
}
#box3:hover {
  scale: 1.06;
}

#box3:active {
  scale: 0.95;
}
#box4:hover {
  scale: 1.06;
}

#box4:active {
  scale: 0.95;
}
#box5:hover {
  scale: 1.06;
}

#box5:active {
  scale: 0.95;
}
#box6:hover {
  scale: 1.06;
}

#box6:active {
  scale: 0.95;
}
#box7:hover {
  scale: 1.06;
}

#box7:active {
  scale: 0.95;
}
#box8:hover {
  scale: 1.06;
}

#box8:active {
  scale: 0.95;
}
#box9:hover {
  scale: 1.06;
}

#box9:active {
  scale: 0.95;
}

@media (max-width: 700px) {
  #kasser {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
}

footer {
  background-color: #c8d9db;
  margin-top: 40px;
}

.footcon {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footcol {
  width: 33%;
}

.footcol p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.footcol .adresse {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.footcol h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 5px;
  color: white;
}

.kasse {
  background-color: white;
  width: 20%;
  height: 1.5%;
  margin: 20px 20px 20px 0;
  border-radius: 4px;
}

.footcol .socials a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 87px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}

.footcol .socials a:hover {
  scale: 1.05;
  translate: 0 -10%;
}

@media (max-width: 700px) {
  .footcol {
    width: 100%;
  }
}
