.webshop_img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  margin: auto;
}

.grid1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-inline: auto;
}

.price {
  display: flex;
  flex-direction: column-reverse;
}

.box {
  display: block;
  border: 2px solid #c8d9db;
  border-radius: 20px;
}

.baggrund_txt {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text_layout {
  margin-left: 5px;
  margin-bottom: 5px;
}

button {
  color: white;
  background-color: #bf6341;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
}

.shopping_bag {
  display: flex;
  flex-direction: row-reverse;
}

.img_bag {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 20%;
  transition: all 0.2s ease;
}

.img_bag:hover {
  scale: 1.1;
}

.price {
  margin-bottom: 5px;
}

.button2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  border-radius: 40px;
  background-color: var(--button-color);
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.mobil {
  display: none;
}

@media (min-width: 800px) {
  .webshop_img {
    width: 75%;
    border-radius: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
  }

  .grid1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    margin-inline: auto;
  }

  .box {
    display: block;
    aspect-ratio: 5/6;
    border: 2px solid #c8d9db;
    border-radius: 20px;
  }

  .baggrund_txt {
    background-color: #c8d9db;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .text_layout {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  button {
    color: white;
    background-color: #bf6341;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  .shopping_bag {
    display: flex;
    flex-direction: row-reverse;
    transition: all 0.2s ease;
  }

  .img_bag {
    margin: 20px;
    cursor: pointer;
  }

  .img_bag:hover {
    scale: 1.1;
  }

  .price {
    font-size: 1.3rem;
  }

  .price_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    border-radius: 40px;
    background-color: var(--button-color);
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}
